@charset "UTF-8";
/*

  Si quieres saber cada l칤nea de este archivo te recomiendo que veas estos v칤deos:
  游녤 Reset CSS: https://youtu.be/bXqPNoYFK8w
  游녤 Reset PRO en C칩digo: https://www.youtube.com/watch?v=bXqPNoYFK8w    

    Estilos generales para que las etiquetas no contengan propiedades
    que nos estorben y en todos los navegadores se vean correctamente
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

a {
  display: block;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  font-size: 100%;
  line-height: 1.4em;
  min-height: 100vh;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 
    5 claves a tener en cuenta:
    游녤 쮼s un texto o una caja? 
    游녤 쮼s un 1 etiquetas o muchas?
    游녤 쯈u칠 position tiene? 
    游녤 쯋so float o flex? 
    游녤 쯋so margin, calc() o transform?
*/
/* Estilos por defecto para que se vea "bien" */
.contenedora {
  width: 90%;
  background: lightgray;
  border-radius: 0.5rem;
  margin: 1em auto;
}

.item {
  background: orange;
  border-radius: 0.5rem;
}

/* 쯉i es un texto? */
.contenedora1 {
  text-align: center;
  padding: 5em 0;
}

/* Position:Static y Relative */
/* Centrar en cl치sica 1 etiqueta en horizontal */
.contenedora2 .item {
  width: 40%;
  margin: 0 auto;
}

/* Centrar en cl치sica +1 (muchas) etiquetas en horizontal*/
.contenedora3::after {
  content: "";
  display: block;
  clear: both;
}

.contenedora3 .item {
  width: calc( 25% - 2em );
  float: left;
  margin: 0 1em;
}

/* Centrar en cl치sica 1 etiqueta en vertical */
.contenedora4 {
  padding: 5em 0;
}

.contenedora4 .item {
  width: 40%;
}

/* Centrar en cl치sica +1 (muchas) etiquetas en vertical*/
.contenedora5 {
  padding: 5em 0;
}

.contenedora5::after {
  content: "";
  display: block;
  clear: both;
}

.contenedora5 .item {
  width: calc( 25% - 2em );
  float: left;
  margin: 0 1em;
}

/* Centrar con flex en horizontal */
.contenedora6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedora6 .item {
  width: 20%;
}

/* Centrar con flex en vertical */
.contenedora7 {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedora7 .item {
  width: 20%;
}

/* Position: Absolute y Fixed */
/* Centrar en horizontal con margin con p칤xeles */
.contenedora8 {
  min-height: 30vh;
  position: relative;
}

.contenedora8 .item {
  width: 5em;
  height: 5em;
  position: absolute;
  left: 50%;
  margin-left: -2.5em;
}

/* Centrar en vertical con margin con pixeles */
.contenedora9 {
  min-height: 30vh;
  position: relative;
}

.contenedora9 .item {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  margin-top: -100px;
}

/* Centrar en horizontal con calc() con p칤xeles */
.contenedora10 {
  min-height: 30vh;
  position: relative;
}

.contenedora10 .item {
  width: 200px;
  height: 200px;
  position: absolute;
  left: calc( 50% - 100px );
}

/* Centrar en vertical con calc() con pixeles */
.contenedora11 {
  min-height: 30vh;
  position: relative;
}

.contenedora11 .item {
  width: 200px;
  height: 200px;
  position: absolute;
  top: calc( 50% - 100px );
}

/* Centrar en horizontal con porcentaje */
.contenedora12 {
  min-height: 30vh;
  position: relative;
}

.contenedora12 .item {
  width: 50%;
  height: 60%;
  position: absolute;
  left: 25%;
}

/* Centrar en vertical con porcentaje */
.contenedora13 {
  min-height: 30vh;
  position: relative;
}

.contenedora13 .item {
  width: 50%;
  height: 60%;
  position: absolute;
  top: 20%;
}

/* Centrar en horizontal con transform */
.contenedora14 {
  min-height: 30vh;
  position: relative;
}

.contenedora14 .item {
  width: 10em;
  height: 200px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* Centrar en vertical con transform */
.contenedora15 {
  min-height: 30vh;
  position: relative;
}

.contenedora15 .item {
  width: 200px;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}