$color-base     : #181818;
$color-inverso  : invert($color-base);
$font-ppal 		: normal normal normal 100% / 140% Fakt Pro Medium, 'Roboto', sans-serif;




$color-twitter1 : rgb(113, 201, 248);
$color-twitter2 : rgb(29, 161, 242);
$color-twitter-oscuro :#207ed4 ;
$twitter-fondo : rgb(21, 32, 43);

$borde-gris : rgb(56, 68, 77);

$color-modulo-bg : #141d27;
$color-modulo-hover : #1b242e;
// 2c333e

$color-modulo-a-hover : #2c333e;
$hastag-color : rgb(136, 153, 166);